<input id='scrimageID' type=hidden value=<%= @scrimage.id %> >

<h1>Scrimage: <%= @scrimage.name %></h1>
<div id="clockDiv"></div>

<script type="text/javascript">

	$(function(){
		updateTime();
		setInterval('updateTime()', 1);
	});

	function updateTime(){
		$.ajax({
			url: "/scrimages/update_time",
			type: "POST",
			data: {id: $("#scrimageID").val()},
			success: function(msg){
				$("#clockDiv").html(msg);
			}
		});
	}

</script>