<h1>Scrimages</h1>
<% @photos.each do |photo| %>
	<span class="all_scrimages_image"><%= photo.scrimage.name %><br><a href="/scrimages/<%= photo.scrimage_id %>" ><img class="thumbnail" src="<%= photo.filename %>"></a></span>
<% end %>