/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body, html {
	background-color: #fff;
	color: #343642;
	font-family: 'Helvetica Nue', Helvetica;
	font-size: 11pt;
}

.container {
	display: flex;
}

.sidebar {
	width:30%;
	max-width:300px;
	float:left;
	margin-right: 20px;
	background-image: url('/bg.png');
}

.logo {
	max-width:100%;
	max-height:100%;
	margin-top:10px;
}

.main {
	max-width:800px;
	overflow:hidden;
	background-image: url('/bg.png');
	flex: 1;
}

img.homepage {
	width:150px;
	margin-right:10px;
}

div.images {
	text-align: center;
	margin-bottom: 20px;
}

p {
	padding:10px;
}

a:link, a:active, a:visited {
	color: #343642;
	text-decoration: none;
}

a:hover {
	color: #358795;
	text-decoration: none;

}

h1 {
	color: #ED7263;
	text-align: center;
	text-transform: uppercase;
	background-color: #343642;
	padding:4px;
	margin-top:30px;
	font-size: 12pt;
}

.main h1 {
	margin-top: 0px;
}

h1.error {
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	background-color: #FF0000;
	padding:4px;
	margin-bottom:0px;
	font-size: 10pt;
}

h1.success {
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	background-color: #3B96A9;
	padding:4px;
	margin-bottom:0px;
	font-size: 10pt;
}

h1 a:link, h1 a:active, h1 a:visited {
	color: #ED7263;
	text-align: center;
	text-transform: uppercase;
	background-color: #343642;
	font-size: 12pt;
}
