/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body, html {
	background-color: #fff;
	color: #343642;
	font-family: 'Helvetica Nue', Helvetica;
	font-size: 11pt;
	/*text-align: center;*/
}

.container {
	display: flex;
}

.sidebar {
	width:30%;
	max-width:300px;
	float:left;
	margin-right: 20px;
	background-image: url('/bg.png');
}

.links {
	text-align: center;
}

.links a, .links a:active, .links a:visited,
.submit, a:active .submit {
	height:40px;
	background-color: #ED7263;
	color:#FDF2DE;
	padding:10px;
	text-transform: uppercase;
	margin:auto;
	margin-top: 20px;
	font-style: normal !important;
	border:0px;
}

.links a:hover, .submit:hover {
	background-color: #3B96A9;
	color: #FDF2DE;
}

.logo {
	max-width:100%;
	max-height:100%;
	margin-top:10px;
}

.main {
	max-width:800px;
	overflow:hidden;
	background-image: url('/bg.png');
	flex: 1;
}

.thumbnail {
	max-height:150px;
	/*max-width: 200px;*/
	margin:5px;
	border: 3px solid #ED7263;
}

.profileimg {
	width:300px;
	margin-top: 20px;
	border: 10px solid #ED7263;
}

.pageText {
	background-color:#fff;
	margin:20px 10px;
	padding:10px;
	text-align: center;
}

img.homepage {
	height:100px;
	margin-right:10px;
}

img.votingOrig {
	height:200px;
	margin-bottom: 20px;
}

div.votingImage {
	display:inline-block;
	margin: 0px 5px;
}

div.votingImage img {
	height:100px;
}

.votebutton {
	line-height: 3;
}

div.images {
	text-align: center;
	margin-bottom: 20px;
}

p {
	padding:10px;
}

a:link, a:active, a:visited {
	color: #343642;
	text-decoration: none;
	font-style: italic;
}

a:hover {
	color: #358795;
	text-decoration: none;
	font-style: normal;
}

h1 {
	color: #ED7263;
	text-align: center;
	text-transform: uppercase;
	background-color: #343642;
	padding:4px;
	margin-top:30px;
	font-size: 12pt;
}

.main h1 {
	margin-top: 0px;
}

h1.error {
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	background-color: #FF0000;
	padding:4px;
	margin-bottom:0px;
	font-size: 10pt;
}

h1.success {
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	background-color: #3B96A9;
	padding:4px;
	margin-bottom:0px;
	font-size: 10pt;
}

h1 a:link, h1 a:active, h1 a:visited{
	color: #ED7263;
	text-align: center;
	text-transform: uppercase;
	background-color: #343642;
	font-size: 12pt;
	font-style: normal;
}

h1 a:hover {
	color: #358795;
}

h2 {
	color:#FDF2DE;
	text-align: center;
	text-transform: uppercase;
	background-color: #3B96A9;
	padding:5px;
	margin-top:-10px;
	font-size: 10pt;
}

h2 a:link, h2 a:active, h2 a:visited, h2 a:hover {
	color:#FDF2DE;
}

.formField {
	border:2px solid #ED7263;
}

.textField {
	height:20px;
}

.editableImage{
	position: relative;
	display: inline-block;
}

.hoverIcons{
	position: absolute;
	top: 0;
	/*z-index: 1;*/
	display: inline;
	padding: 5px;
}

.hoverIcon{
	width: 50px;
	height: 50px;
}

.hoverIcon:hover{
	background-color: #ee7163;
}

.hoverIconLeft{
	float: left;
}

.hoverIconRight{
	float: right;
}


/* MODAL CODE */
.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	pointer-events: none;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
}

.modalDialog > div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}

.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	cursor: pointer;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #ee7163; }

#postSaveModal{
	opacity: 0;
}

#postSaveModalBox{
	position: fixed;
	top: 30%;
	left: 33%;
}

#postSaveModalText{
	position: relative;
}

#saveSuccessText{
	display: none;
}

#saveErrorText{
	display: none;
}

/* Button Styling */
.btn {
  background: #d4d4d4;
  background-image: -webkit-linear-gradient(top, #d4d4d4, #474747);
  background-image: -moz-linear-gradient(top, #d4d4d4, #474747);
  background-image: -ms-linear-gradient(top, #d4d4d4, #474747);
  background-image: -o-linear-gradient(top, #d4d4d4, #474747);
  background-image: linear-gradient(to bottom, #d4d4d4, #474747);
  -webkit-border-radius: 11;
  -moz-border-radius: 11;
  border-radius: 11px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;

  margin: 7px;
}

.btn:hover {
  background: #c2c0c2;
  background-image: -webkit-linear-gradient(top, #c2c0c2, #ababab);
  background-image: -moz-linear-gradient(top, #c2c0c2, #ababab);
  background-image: -ms-linear-gradient(top, #c2c0c2, #ababab);
  background-image: -o-linear-gradient(top, #c2c0c2, #ababab);
  background-image: linear-gradient(to bottom, #c2c0c2, #ababab);
  text-decoration: none;
}