// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#section1Div{
	float: left;
	width: 30%;
	text-align: center;
}

#section2Div{
	float: left;
	width: 40%;
	text-align: center;
}

#section3Div{
	float: left;
	width: 20%;
	text-align: right;
 }

 #section4Div{
 	float: left;
	width: 10%;
	text-align: center;
 }

.section1Img{
	width: 240px;
	height: 200px;
}

.section2Img{
	width: 400px;
	height: 300px;
}

.section3Img{
	width: 250px;
	height: 200px;
}

#coolOrMeh{
	text-align:center;
}

#profileImg{
	width: 60px;
	height: 50px;
}

#editButton{
	display: none;	
}

