// Place all the styles related to the Scrimages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table {
	border-collapse: separate;
	border-spacing: 10px;	
}

.originalImage{
	width: 300px;
	height: auto;
	border: 3px solid #ED7263;
}

.responseImage {
	border: 20px solid #ED7263;
	margin:0px;
	width:200px;
}

.childrenPhotos {
	background-color:#fff;
	margin:10px;
}

.childCount {
	color:#FDF2DE;
	background-color:#3B96A9;
	padding:10px;
}

.countdownTitle {
	text-transform:uppercase;
	display:block;
	margin:20px 0;
	font-size:10px;
	font-weight:bold;
	letter-spacing:3px;
}

.countdown {
	text-transform:uppercase;
	font-size:18px;
	letter-spacing:3px;
}

.countdown strong {
	color:#ED7263;
}

#clockDiv {
	text-align:center;
	color:#000000;
	margin-bottom:20px;
}