// Place all the styles related to the Searches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.browse_image{
	display:inline-table;
	margin-bottom: 50px;
	margin-right: 10px;
	color: #ED7263;
}

.searchInput{
	width: 90%;
	margin-top: 10px;
	margin-bottom: 25px;
	padding: 3px;	
	padding-left: 10px;
	padding-right: 10px;
	font-size: 15px;

	border-radius:15px; 
	-moz-border-radius:15px; 
	-webkit-border-radius:15px; 
}