<input type=hidden id="userID" value='1' >
<input type=hidden id="photoID" value='<%= @photo.id %>' >

<% if !@error %>
	<center><h1><%= @photo.description %></h1></center>
	<table>
		<tr>
			<td>
				<img src="<%= @photo.filename %>">
			</td>
			<td>
				<div id="commentsDiv">
					<% @comments.each do |comment| %>
						<%= comment.text %><br><br>
					<% end %>
				</div>
			</td>
		</tr>
	</table>
	<input id="new_comment_input" name="new_comment_input">
	<button onClick=addComment()>Add Comment</button>
<% end %>

<script type="text/javascript">
	function addComment(){
		$.ajax({
			url: "/photo/create_comment",
			type: "POST",
			data: {photo_id: $("#photoID").val(), user_id: $("#userID").val(), text: $("#new_comment_input").val()},
			success: function(msg){
				$("#commentsDiv").append(msg);
			}
		});
	}
</script>