<h1>New Photos</h1>

<p align="center">What's new in the world of scrImages?</p>

<div class="images">
	<% @new_photos.each do |p| %>
	<a href="/photos/<%=p.id%>"><img src="<%=p.filename%>" class="homepage"></a>
	<% end %>
</div>


