<h1>New scrImages</h1>

<p>What's new in the world of scrImages?</p>

<div class="images">
<img src="http://photography.naturestocklibrary.com/orca-stock-photo.jpg" class="homepage">
<img src="http://photography.naturestocklibrary.com/orca-stock-photo.jpg"class="homepage">
<img src="http://photography.naturestocklibrary.com/orca-stock-photo.jpg"class="homepage">
<img src="http://photography.naturestocklibrary.com/orca-stock-photo.jpg"class="homepage">
</div>

<h1>Your scrImages</h1>

<p>Here is a list of scrImages you are currently participating in.</p>

<div class="images">
<img src="http://photography.naturestocklibrary.com/orca-stock-photo.jpg"class="homepage">
<img src="http://photography.naturestocklibrary.com/orca-stock-photo.jpg"class="homepage">
<img src="http://photography.naturestocklibrary.com/orca-stock-photo.jpg"class="homepage">
<img src="http://photography.naturestocklibrary.com/orca-stock-photo.jpg"class="homepage">
</div>

<h1>Edit Photo (temporarily here)</h1>

<div id = "editorDiv"></div>

<!-- START PHOTO EDITING API --> 
	<!-- Load widget code -->
	<script type="text/javascript" src="http://feather.aviary.com/js/feather.js"></script>

	<!-- Instantiate the widget -->
	<script type="text/javascript">

	    var featherEditor = new Aviary.Feather({
	        apiKey: '5ee2fa12a60942b4a817edb17bfae759',
	        apiVersion: 3,
	        theme: 'light', // Check out our new 'light' and 'dark' themes!
       		tools: 'all',
       		appendTo: '',
	        enableCORS: true,
	        onLoad: function() {
				document.getElementById('editButton').style.display = 'block';
			},
	        onSave: function(imageID, newURL) {
	            $.ajax({
        			url : "photos/save_edited_photo",
        			type : "POST",
        			data : { editedPhotoLink: newURL },
				    success: function(data){
				        alert('Saved Successfully');
				      },
			      	error:function(data){
			       		alert('Error');
			      	}
   				 });
	        },
	        onError: function(errorObj) {
           		alert(errorObj.message);
       		}
	    });

	    function launchEditor(id, src) {
	        featherEditor.launch({
	            image: id,
	            url: src
	        });
	        return false;
	    }
	</script>              

	<!-- Add an edit button, passing the HTML id of the image
	    and the public URL to the image -->
	<a href="#" onclick="return launchEditor('catImg', 
	    'http://scienceblogs.com/gregladen/files/2012/12/Beautifull-cat-cats-14749885-1600-1200.jpg');" id = "editButton">Edit Image(for testing purposes only. Need to look into making sure that saving with Ruby works. Can also consider adding more features.)</a>

	<img src = "http://scienceblogs.com/gregladen/files/2012/12/Beautifull-cat-cats-14749885-1600-1200.jpg" alt = "Uploaded User Image" class = "section2Img" id = "catImg"/>

	<br>
	<br>

<!-- END PHOTO EDITING API -->