<h1>New scrImages</h1>

<p>What's new in the world of scrImages?</p>

<div class="images">
<img src="http://photography.naturestocklibrary.com/orca-stock-photo.jpg" class="homepage">
<img src="http://photography.naturestocklibrary.com/orca-stock-photo.jpg"class="homepage">
<img src="http://photography.naturestocklibrary.com/orca-stock-photo.jpg"class="homepage">
<img src="http://photography.naturestocklibrary.com/orca-stock-photo.jpg"class="homepage">
</div>

<h1>Your scrImages</h1>

<p>Here is a list of scrImages you are currently participating in.</p>

<div class="images">
<img src="http://photography.naturestocklibrary.com/orca-stock-photo.jpg"class="homepage">
<img src="http://photography.naturestocklibrary.com/orca-stock-photo.jpg"class="homepage">
<img src="http://photography.naturestocklibrary.com/orca-stock-photo.jpg"class="homepage">
<img src="http://photography.naturestocklibrary.com/orca-stock-photo.jpg"class="homepage">
</div>

<h1>Edit Photo (temporarily here)</h1>

<!-- START PHOTO EDITING API --> 
	<!-- Load widget code -->
	<script type="text/javascript" src="http://feather.aviary.com/js/feather.js"></script>

	<!-- Instantiate the widget -->
	<script type="text/javascript">

	    var featherEditor = new Aviary.Feather({
	        apiKey: '5ee2fa12a60942b4a817edb17bfae759',
	        apiVersion: 3,
	        theme: 'light', // Check out our new 'light' and 'dark' themes!
       		tools: 'all',
       		appendTo: '',
	        enableCORS: true,
	        onLoad: function() {
				document.getElementById('editButton').style.display = 'block';
			},
	        onSave: function(imageID, newURL) {
	            var img = document.getElementById(imageID);
	            img.src = newURL;
	        },
	        onError: function(errorObj) {
           		alert(errorObj.message);
       		}
	    });

	    function launchEditor(id, src) {
	        featherEditor.launch({
	            image: id,
	            url: src
	        });
	        return false;
	    }
	</script>              

	<!-- Add an edit button, passing the HTML id of the image
	    and the public URL to the image -->
	<a href="#" onclick="return launchEditor('catImg', 
	    'http://upload.wikimedia.org/wikipedia/commons/2/22/Turkish_Van_Cat.jpg');" id = "editButton">Edit Image(for testing purposes only. Need to look into making sure that saving with Ruby works.)</a>

	<img src = "http://upload.wikimedia.org/wikipedia/commons/2/22/Turkish_Van_Cat.jpg" alt = "Uploaded User Image" class = "section2Img" id = "catImg"/>
<!-- END PHOTO EDITING API -->