<h1>New scrImages</h1>

<p>What's new in the world of scrImages?</p>

<div class="images">
<img src="http://photography.naturestocklibrary.com/orca-stock-photo.jpg" class="homepage">
<img src="http://photography.naturestocklibrary.com/orca-stock-photo.jpg"class="homepage">
<img src="http://photography.naturestocklibrary.com/orca-stock-photo.jpg"class="homepage">
<img src="http://photography.naturestocklibrary.com/orca-stock-photo.jpg"class="homepage">
</div>

<h1>Your scrImages</h1>

<p>Here is a list of scrImages you are currently participating in.</p>

<div class="images">
<img src="http://photography.naturestocklibrary.com/orca-stock-photo.jpg"class="homepage">
<img src="http://photography.naturestocklibrary.com/orca-stock-photo.jpg"class="homepage">
<img src="http://photography.naturestocklibrary.com/orca-stock-photo.jpg"class="homepage">
<img src="http://photography.naturestocklibrary.com/orca-stock-photo.jpg"class="homepage">
</div>

<h1>Edit Photo (temporarily here)</h1>

<!-- Load widget code -->
<script type="text/javascript" src="http://feather.aviary.com/js/feather.js"></script>

<%= render partial: "layouts/apiCode" %>          

<!-- Add an edit button, passing the HTML id of the image and the public URL to the image -->
<a href="#" onclick="return launchEditor('catImg', 'http://scienceblogs.com/gregladen/files/2012/12/Beautifull-cat-cats-14749885-1600-1200.jpg');" id = "editButton">
    Edit Image (for testing purposes only. Can become a place for people to view their uploaded photos.)
</a>

<img src = "http://scienceblogs.com/gregladen/files/2012/12/Beautifull-cat-cats-14749885-1600-1200.jpg" alt = "Uploaded User Image" class = "section2Img" id = "catImg"/>

<br>
<br>
