<h1>Newsfeed</h1>

<u> New Images People Have Uploaded:</u>
<img src = "http://photography.naturestocklibrary.com/orca-stock-photo.jpg" alt = "scrIMAGE Image" class = "section1Img"/>
<br>
<a href = "#"> View Image Tree</a>
<br>
<br>
<a href = "#"> View Other Image Trees</a>
<br>
<br>
<br>
<u> scrIMAGEs You're Following:</u>
<br>
<a href = "#"> user1 vs user2</a> </br>
<a href = "#"> user3 vs user4</a> </br>
<a href = "#"> user5 vs user6</a> </br>
<a href = "#"> View Other scrIMAGEs  </a> 
<br>
<br>
<a href = "#"> Enter Your Own scrIMAGE </a>

<div id = "editorDiv"></div>

<!-- START PHOTO EDITING API --> 
	<!-- Load widget code -->
	<script type="text/javascript" src="http://feather.aviary.com/js/feather.js"></script>

	<!-- Instantiate the widget -->
	<script type="text/javascript">

	    var featherEditor = new Aviary.Feather({
	        apiKey: '5ee2fa12a60942b4a817edb17bfae759',
	        apiVersion: 3,
	        theme: 'light', // Check out our new 'light' and 'dark' themes!
       		tools: 'all',
       		appendTo: '',
	        enableCORS: true,
	        onLoad: function() {
				document.getElementById('editButton').style.display = 'block';
			},
	        onSave: function(imageID, newURL) {
	            $.ajax({
        			url : "photo/save_edited_photo",
        			type : "POST",
        			data : { editedPhotoLink: newURL },
				    success: function(data){
				        alert('Saved Successfully');
				      },
			      	error:function(data){
			       		alert('Error');
			      	}
   				 });
	        },
	        onError: function(errorObj) {
           		alert(errorObj.message);
       		}
	    });

	    function launchEditor(id, src) {
	        featherEditor.launch({
	            image: id,
	            url: src
	        });
	        return false;
	    }
	</script>              

	<!-- Add an edit button, passing the HTML id of the image
	    and the public URL to the image -->
	<a href="#" onclick="return launchEditor('catImg', 
	    'http://scienceblogs.com/gregladen/files/2012/12/Beautifull-cat-cats-14749885-1600-1200.jpg');" id = "editButton">Edit Image(for testing purposes only. Need to look into making sure that saving with Ruby works. Can also consider adding more features.)</a>

	<img src = "http://scienceblogs.com/gregladen/files/2012/12/Beautifull-cat-cats-14749885-1600-1200.jpg" alt = "Uploaded User Image" class = "section2Img" id = "catImg"/>

	<br>
	<br>

<!-- END PHOTO EDITING API -->