<% if notifications.count() > 0 %>
	<div id='notificationsModal' class="modalDialog">
		<div>
			<span onclick="closeModal('notificationsModal');" title="Close" class="close">X</span>
			<h2><%= user.username %>'s Notifications</h2>

			<ul>
				<% notifications.each do |notification| %>
					<br><li><%= notification.message %></li>
					<% notification.update(been_viewed: 1) %>
				<% end %>
			</ul>
		</div>
	</div>
<% end %>