<% if @userPhotos === nil || @userPhotos.empty? %>
	<p>No photos yet!</p>
<% else %>
	<% @userPhotos.each do |p| %>
		<a href="/photos/<%=p.id%>"><img src="<%= p.filename %>" class="thumbnail"></a>
	<% end %>
<% end %>